<div class='header'>
  <h1>Задачи</h1>
  <a id="clickme" href="#"><%= image_tag "addTodoIcon.png" %></a>
</div>

<% @projects.each do |project| %>
  <h2><%= project.title %></h2>
  <% project.todos.each do |t| %>
    <ul><li> <h4><%= t.text %></h4> </li></ul>
  <% end %>
<% end %>

<div id="block" style="display: none;">
  <h2>НОВАЯ ЗАДАЧА</h2>
  <%= form_with scope: :todo, url: todos_path, method: :post, :html => { :class => 'new_todo'} do |todo| %>
    <%= todo.text_field :text, :placeholder => "Название задачи..." %> <br/>
    <%= select(:todo, "project_id", @projects.collect {|p| [ p.title, p.id ] }, {prompt: "Категория"}) %>
    <table>
        <th><%= link_to 'ОТМЕНА', "#", :class => 'cancellation' %></th>
        <th><%= link_to 'OK', "", :class => 'submit' %></th>
      </table>
  <% end %>
</div>