<div class='header'>
  <h2>Задачи</h2>
  <a id="clickToAddTodo" href="#"><%= image_tag "addTodoIcon.png" %></a>
</div>

<div class="allProjects">
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-md-6 col-lg-4 col-12">
          <div class='oneProject'>
            <div class='projectTitle'>
              <%= project.title %>
            </div>
            <% project.todos.each do |todo| %>
              <%= form_with model: todo, method: 'PUT' do |t| %>
                <div class='todoText'>
                  <li><label> <input type="checkbox" <%= if todo.isCompleted then "checked" end %> ><label class="text"><%= todo.text %></label>  </li> </label>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="block">
    <h2>НОВАЯ ЗАДАЧА</h2>
    <%= form_with scope: :todo, url: todos_path, method: :post, :html => { :class => 'new_todo'} do |todo| %>
      <%= todo.text_field :text, :placeholder => "Название задачи...", :class => "todoTextField" %> <br/>
      <%= select(:todo, "project_id", @projects.collect {|p| [ p.title, p.id ] }, {prompt: "Категория"}, {:class => "select2-selection"}) %>
      <table>
        <th><%= link_to 'ОТМЕНА', "#", :class => 'cancellation' %></th>
        <th><%= link_to 'OK', "", :class => 'submit' %></th>
      </table>
    <% end %>
  </div>
</div>
<div id='bg_layer'></div>